{{#if this.lotteryData}}
  <div class="lottery-display-card">
    <div class="lottery-header">
      <span class="lottery-icon">🎲</span>
      <h3 class="lottery-title">抽奖活动信息</h3>
      <span class="lottery-status running">进行中</span>
    </div>
    
    <div class="lottery-content">
      <div class="lottery-info">
        <div class="info-row">
          <span class="info-label">活动名称：</span>
          <span class="info-value">{{this.lotteryData.prize_name}}</span>
        </div>
        
        <div class="info-row">
          <span class="info-label">奖品说明：</span>
          <span class="info-value">{{this.lotteryData.prize_details}}</span>
        </div>
        
        <div class="info-row">
          <span class="info-label">开奖时间：</span>
          <span class="info-value">{{this.formattedDrawTime}}</span>
        </div>
        
        <div class="info-row">
          <span class="info-label">参与门槛：</span>
          <span class="info-value">至少需要 {{this.lotteryData.min_participants}} 人参与</span>
        </div>
        
        <div class="info-row">
          <span class="info-label">抽奖方式：</span>
          <span class="info-value">{{this.lotteryType}}</span>
        </div>
        
        {{#if (eq this.lotteryType "指定楼层")}}
          <div class="info-row">
            <span class="info-label">获奖楼层：</span>
            <span class="info-value">{{this.lotteryData.specified_posts}}</span>
          </div>
        {{else}}
          <div class="info-row">
            <span class="info-label">获奖人数：</span>
            <span class="info-value">{{this.lotteryData.winners_count}} 人</span>
          </div>
        {{/if}}
        
        <div class="info-row">
          <span class="info-label">后备策略：</span>
          <span class="info-value">{{this.backupStrategyText}}</span>
        </div>
        
        {{#if this.lotteryData.additional_notes}}
          <div class="info-row">
            <span class="info-label">补充说明：</span>
            <span class="info-value">{{this.lotteryData.additional_notes}}</span>
          </div>
        {{/if}}
      </div>
      
      <div class="lottery-actions">
        <div class="participation-notice">
          💡 <strong>参与方式：</strong> 在本话题下回复即可参与抽奖
        </div>
      </div>
    </div>
  </div>
{{/if}}
