<DModal
  @title="创建抽奖活动"
  @closeModal={{this.close}}
  class="lottery-modal"
>
  <:body>
    <div class="lottery-form">
      <label>
        活动名称
        <Input
          @value={{this.prizeName}}
          {{on "input" (fn this.handleInput "prizeName")}}
        />
      </label>
      <label>
        奖品说明
        <Textarea
          @value={{this.prizeDetails}}
          {{on "input" (fn this.handleInput "prizeDetails")}}
        />
      </label>
      <label>
        开奖时间 (如 2025-08-30T20:00)
        <Input
          @type="datetime-local"
          @value={{this.drawTime}}
          {{on "input" (fn this.handleInput "drawTime")}}
        />
      </label>
    </div>
  </:body>
  <:footer>
    <DButton
      @action={{this.submit}}
      @label="提交"
      @disabled={{not this.canSubmit}}
      class="btn-primary"
    />
    <DModalCancel @close={{this.close}} />
  </:footer>
</DModal>
